{% extends 'base.html' %}

{% block title %}Elections{% endblock %}

{% block content %}
    <h2>Elections</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Start Date</th>
                <th>End Date</th>
                {% if user_has_permission %}
                <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for election in elections %}
            <tr>
                <td>{{ election.id }}</td>
                <td>{{ election.start_date }}</td>
                <td>{{ election.end_date }}</td>
                {% if user_has_permission %}
                <td>
                    <a href="{% url 'election_update' election.id %}" class="btn">Edit</a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if user_has_permission %}
        <a href="{% url 'election_create' %}" class="btn">Create New Election</a>
    {% endif %}
{% endblock %}
